.footer {
  font-family: 'Courier New', Courier, monospace;
  background-color: #060b3a;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 25px;
}

/* contenedor de links */
.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

/* estilo de links */
.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    gap: 10px;
  }
}