@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esto quita los espacios blancos de los bordes del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black; /* Para que combine con tu estética */
}